<!DOCTYPE html>
<%- include("partials/header")%>

    <body>

        <!--starting contact list-->

        <div class="container2">
            <header class="header2">
                <form class="search-bar">
                    <input type="seach-name" class="contact-search" name="search-area" placeholder="Search">
                </form>
                <a href="edit-contact.html">
                    <i class="fas fa-plus-circle add"></i>
                </a>
            </header>
            <section class="contact-library">
                <ul class="contacts-list">

                    <a href="contactInfo.html">
                        <div class="contact-section">
                            <li class="list_item">
                                <p class="contact-name">Christella Anoble</p>
                                <p class="relationship">mum</p>
                            </li>
                            <li class="list_item">
                                <i class="fas fa-phone"></i>
                                <i class="fas fa-sms text"></i>
                            </li>
                        </div>
                    </a>
                    <hr>

                    <a href="contactInfo.html">
                        <div class="contact-section">
                            <li class="list_item">
                                <p class="contact-name">Christella Anoble</p>
                                <p class="relationship">mum</p>
                            </li>
                            <li class="list_item">
                                <i class="fas fa-phone"></i>
                                <i class="fas fa-sms text"></i>
                            </li>
                        </div>
                    </a>
                    <hr>

                    <a href="contactInfo.html">
                        <div class="contact-section">
                            <li class="list_item">
                                <p class="contact-name">Christella Anoble</p>
                                <p class="relationship">mum</p>
                            </li>
                            <li class="list_item">
                                <i class="fas fa-phone"></i>
                                <i class="fas fa-sms text"></i>
                            </li>
                        </div>
                    </a>
                    <hr>

                    <a href="contactInfo.html">
                        <div class="contact-section">
                            <li class="list_item">
                                <p class="contact-name">Christella Anoble</p>
                                <p class="relationship">mum</p>
                            </li>
                            <li class="list_item">
                                <i class="fas fa-phone"></i>
                                <i class="fas fa-sms text"></i>
                            </li>
                        </div>
                    </a>
                    <hr>

                    <a href="contactInfo.html">
                        <div class="contact-section">
                            <li class="list_item">
                                <p class="contact-name">Christella Anoble</p>
                                <p class="relationship">mum</p>
                            </li>
                            <li class="list_item">
                                <i class="fas fa-phone"></i>
                                <i class="fas fa-sms text"></i>
                            </li>
                        </div>
                    </a>
                    <hr>

                </ul>
            </section>
        </div>
        <!-- end contact-list-->
        <!--Start Chatroom-->
        <div class="chat-container">

        </div>
        <!--end Chatroom-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous ">
        </script>
    </body>

    </html>