* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-clr: #5d4954;
}

.fun {
  background-color: var(--main-clr) !important;
}
/* 
h1 {
  font-size: 30px;
} */

.logo img {
  height: auto;
  width: 150px;
}

.image img {
  height: auto;
  width: 500px;
}

.carousel-inner {
  height: 70vh;
}

/*features*/

#feature,
#aboutUs,
#mission,
#vision {
  margin: 100px 0;
}

.title-text {
  text-align: center;
  padding: 30px 50px;
}

.title-text p {
  margin: auto;
  /* font-size: 20px; */
  /* color: var(--main-clr); */
  /* font-weight: bold; */
  /* position: relative;
  z-index: 1;
  display: inline-block; */
}

.title-text p::after {
  content: "";
  width: 80px;
  height: 35px;
  background: linear-gradient(var(--main-clr), #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.feature-text {
  padding: 20px 15px;
}

.feature-icon img {
  height: auto;
  width: 100%;
}
.features-desc {
  text-align: center;
}
.features-desc img {
  height: auto;
  width: 100%;
}

/* Cards */
.card {
  height: 300px;
  border-radius: 18px;
  color: black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.feature-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  gap: 50px;
}
#feature a:hover {
  text-decoration: none;
  color: red;
}

/*end features*/

footer {
  padding: 20px 0;
  background-color: var(--main-clr);
  color: #fff;
  height: auto;
  width: 100%;
}

.fab {
  font-size: 4rem;
  margin: 0 20px;
}

@media (max-width: 768px) {
  .carousel-inner {
    height: 50vh;
  }
  #feature {
    margin: 10px 0;
  }
}

@media (max-width: 425px) {
  .carousel-inner {
    height: 30vh;
  }
}
